/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(http://fonts.gstatic.com/s/lobster/v9/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(http://fonts.gstatic.com/s/merriweather/v7/RFda8w1V0eDZheqfcyQ4EKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Heavy'), local('Merriweather-Heavy'), url(http://fonts.gstatic.com/s/merriweather/v7/ZvcMqxEwPfh2qDWBPxn6nrsSoz0gOrwseB_671fuXgU.woff) format('woff');

}

@mixin body-font-regular {
    font-family: 'Lobster', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin body-font-italic {
    font-family: 'Merriweather', helvetica, verdana, sans-serif;
    font-style: italic;
    font-weight: 400;
}

@mixin body-font-bold {
    font-family: 'Merriweather', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin headline-font {
    font-family: 'Lobster', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
}

// Site Variables
$color: #242424;
$background-color: #e6e6e6;