/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xGAzD5WKQVN4wSyA0MYYi4rr7w4p9aSvGirXi6XmeXNA.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xM6Eyu0BCqAfob_z3hhzRFzr7w4p9aSvGirXi6XmeXNA.woff) format('woff');
}
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'), url(http://fonts.gstatic.com/s/shadowsintolight/v6/clhLqOv7MXn459PTh0gXYMdQSYiIg2Yb25Hg13-ek1M.woff) format('woff');
}

@mixin body-font-regular {
    font-family: 'Open Sans Condensed', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 300;
}

@mixin body-font-italic {
    font-family: 'Open Sans Condensed', helvetica, verdana, sans-serif;
    font-style: italic;
    font-weight: 300;
}

@mixin body-font-bold {
    font-family: 'Open Sans Condensed', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
}

@mixin headline-font {
    font-family: 'Shadows Into Light', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
}

// Site Variables
$color: #242424;
$background-color: #e6e6e6;